## PS C:\ERP_DW> & "C:\Program Files\Red Gate\Flyway Desktop\flyway.cmd" -configFiles=C:/ERP_DW/flyway/conf/dev.conf migrate
flyway.url=jdbc:sqlserver://NANDU:1433;databaseName=ERP_DW_DEV;encrypt=true;trustServerCertificate=true
flyway.user=sa
flyway.password=Gopee@8458
flyway.schemas=dbo
flyway.locations=filesystem:C:/ERP_DW/flyway/sql